/*
	Stylesheet for admin.html
*/

.row {
  display: flex;
  background: #113f67;
}

#column1 {
  flex: 30%;
}
#column2 {
  flex: 70%;
}

#userList {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
  height: 100%;
  border: 2px solid black;
  background: black;
  overflow-y: auto;
}

#selectUser {
  width: 100%;
  font-size: 15px;
  background: #023c6b;
  text-align: left;
}
#selectUser:hover {
  /* background: turquoise; */
  background: #1a4f77;
}

.transbox {
  /* margin-right: 10px; */
  border: 1px solid black;
}

#networkInfo {
  margin-right: 20px;
  padding: 20px;
  /* border: 1px solid black; */
  /* background: rgb(123, 123, 123, 0.9); */
}
