html,
body {
    background-color: #113f67;
}

p {
    color: white;
}
#goBoth,
#goMain,
#goCostal {
    background-color: #fff;
    opacity: 0.5;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    float: top;
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;
}
#goBothText,
#goMainText,
#goCostalText {
    color: rgb(25, 25, 25);
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
    padding-left: 7px;
    padding-right: 7px;
}
#goMain,
#goCostal {
    margin-top: 10px;
}
