/*
    stylesheet for homepage.html
*/

.column {
    float: left;
    width: 33.33%;
}
.row {
    display: flex;
    background: #113f67;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*
    BEGIN REPORT MODAL STYLING
*/
.reportRow {
    display: flex;
}

.reportColumn1 {
    flex: 35%;
}
.reportColumn2 {
    flex: 65%;
}

#reportResolve {
    background: green;
}
#reportResolve:hover {
    background: limegreen;
}

#reportMap {
    float: left;
    height: auto;
    width: 90%;
    margin: 5%;
    margin-top: 0%;
}
#reportPhoto {
    float: left;
    height: auto;
    width: 90%;
    margin: 5%;
    margin-top: 0%;
}

#responseButtons > button {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 50px;
    padding: 10px 20px;
    top: 50%;
    size: large;
}

#reportNotes {
    text-align: center;
}

/**/
.Respondbtn {
    background-color: #3498db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.Respondbtn:hover,
.Respondbtn:focus {
    background-color: #2980b9;
}

.selectMessage {
    position: relative;
    display: inline-block;
}

.selectMessage-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.selectMessage-content option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.selectMessage option:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .selectMessage-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

/*
  END REPORT MODAL STYLING
*/

#column3 > h1 {
    color: white;
    font-size: smaller;
    text-align: center;
    margin: 50;
    height: 50%;
    width: auto;
}

#responseChart {
    height: 35%;
    width: auto;
    margin: 5;
}

#mainCampus {
    margin: 5;
    height: 90%;
    width: auto;
    box-shadow: 0 10px 10px black;
}

#costalCampus {
    height: 50%;
    margin: 5;
    width: auto;
    box-shadow: 0 10px 10px black;
}
