/*
	Stylesheet for reports.html
*/

.row {
    display: flex;
    background: #113f67;
}

#column1 {
    width: 35%;
}
#column2 {
    width: 65%;
}

/*
	BEGIN REPORT MODAL STYLING
*/
.reportRow {
    display: flex;
}

.reportColumn1 {
    flex: 35%;
}
.reportColumn2 {
    flex: 65%;
}

#reportResolve {
    background: green;
}
#reportResolve:hover {
    background: limegreen;
}

#reportMap {
    float: left;
    height: auto;
    width: 90%;
    margin: 5%;
    margin-top: 0%;
}
#reportPhoto {
    float: left;
    height: auto;
    width: 90%;
    margin: 5%;
    margin-top: 0%;
}

#responseButtons > button {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 50px;
    padding: 10px 20px;
    top: 50%;
    size: large;
}

#reportNotes {
    text-align: left;
}

/**/
.Respondbtn {
    background-color: #3498db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.Respondbtn:hover,
.Respondbtn:focus {
    background-color: #2980b9;
}

.selectMessage {
    position: relative;
    display: inline-block;
}

.selectMessage-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.selectMessage-content option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.selectMessage option:hover {
    background-color: #ddd;
}

.forwardButton {
    position: relative;
    display: inline-block;
}

.forwardButton-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.forwardButton-content option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.forwardButton option:hover {
    background-color: #ddd;
}

.whitelistButton {
    position: relative;
    display: inline-block;
}

.whitelistButton-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.whitelistButton-content option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.whitelistButton option:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .selectMessage-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}
/*
	Dropdown Code
*/
.dropbtn {
    background-color: #4caf50;
    color: white;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

input {
    -webkit-appearance: textfield;
    background-color: #b7b2b2;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 8px;
    border-width: 1px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    width: 200px;
}

/*
	END REPORT MODAL STYLING
*/

#filterOptions {
    padding: 35px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    width: 20%;
    height: 80%;
    border: 0px solid black;
    overflow: auto;
    background-color: black;
}

#filterOptions > p {
    display: inline;
    color: #095ea3;
}

#filterOptions > h1 {
    color: #095ea3;
}

#reportColumn {
    width: 75%;
}

#reportList {
    margin-top: 20px;
    margin-right: 40px;
    height: 71%;
    border: 0px solid black;
    background: black;
    overflow: auto;
    padding: 10px;
}

#navigationButtons {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*
	Styling for report buttons called launchReport
*/
#reportHeader {
    margin-top: 20px;
    margin-right: 40px;
    padding: 15px;
    color: #095ea3;
    background: Black;
    overflow: auto;
    font-size: 15px;
    text-align: left;
    display: flex;
    font-weight: bold;
    white-space: pre;
}

#launchReport {
    height: 46;
    width: 100%;
    padding: 5px;
    margin-bottom: 4px;
    margin-top: 4px;
    font-size: 15px;
    text-align: left;
    display: flex;
    overflow: auto;
}

#buttonResolvedUnresolved {
    width: 5%;
}

#buttonIncidentIDText {
    width: 5%;
}

#buttonReportTSText {
    width: 15%;
}

#buttonTagText {
    width: 15%;
}

#buttonLocationText {
    width: 15%;
}

#launchReport > #buttonLocationText {
    font-style: italic;
}

#buttonFullNameText {
    width: 15%;
}

#buttonBodyText {
    width: 27%;
}

#navigationButtons > button {
    display: inline-block;
    font-size: 15px;
    padding-right: 20px;
    padding-left: 20px;
}

#navigationButtons > div {
    display: inline-block;
    font-size: 15px;
    padding-right: 20px;
    padding-left: 20px;
}
