/*
    Stylesheet for reports.html
*/

.row {
    display: flex;
}

#column1 {
    flex: 35%;
}
#column2 {
    flex: 65%;
}

/*
    BEGIN REPORT MODAL STYLING
*/
.reportRow {
    display: flex;
}

.reportColumn1 {
    flex: 35%;
}
.reportColumn2 {
    flex: 65%;
}

#reportResolve {
    background: green;
}
#reportResolve:hover {
    background: limegreen;
}

#reportMap {
    float: left;
    height: auto;
    width: 90%;
    margin: 5%;
    margin-top: 0%;
}
#reportPhoto {
    float: left;
    height: auto;
    width: 90%;
    margin: 5%;
    margin-top: 0%;
}
/*
    END REPORT MODAL STYLING
*/

#filterOptions {
    margin-top: 20px;
    margin-left: 40px;
    flex: 15%;
    margin-right: 40px;
    height: 85%;
    border: 3px solid black;
    overflow-y: auto;
}

#filterOptions > p {
    display: inline;
    color: white;
}

#filterOptions > h1 {
    color: white;
}

#reportColumn {
    flex: 80%;
}

#reportList {
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 0px;
    height: 77%;
    border: 5px solid black;
    background: rgb(123, 123, 123, 0.9);
    overflow-y: auto;
}

#navigationButtons {
    margin-top: 20px;
    margin-right: 35%;
    margin-left: 35%;
    margin-bottom: 20px;
}

#buttonSplitText {
    color: grey;
}

#buttonBodyText {
    color: grey;
}

#navigationButtons > button {
    font-size: 15px;
    padding-right: 20px;
    padding-left: 20px;
    float: center;
}

#responseButtons > button {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 50px;
    padding: 10px 20px;
    top: 50%;
    size: large;
}

#launchReport {
    width: 100%;
    font-size: 15px;
    background: darkblue;
    white-space: pre;
    text-align: left;
}

#launchReport:hover {
    background: turquoise;
}

/*
    Dropdown Code
*/
.dropbtn {
    background-color: #4caf50;
    color: white;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*
    End Dropdown Code
*/
