/*
    Stylesheet for welcome.html
*/

#loginModalText > p {
  text-align: center;
}

#universityLogo {
  position: absolute;
  right: 0;
  top: 13%;
  margin-top: 0;
  height: 100px;
  width: auto;
}

#policeLogo {
  margin: -30;
}

#loginButton {
  margin-top: 5;
  color: white;
}

footer {
  display: block;
  width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0d3c6c;
  padding: 20px;
  color: #ffffff;
}
#heart:hover {
  color: red;
}
