html,
body {
  background-color: red;
}
hr {
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
}
.gm-style .gm-style-iw {
  color: #113f67;
}

#chartDiv {
  background-color: #113f67;
  opacity: 1;
  border-top: 1px solid Black;
  border-bottom: 1px solid Black;
  border-left: 2px solid Black;
  border-right: 2px solid Black;
  border-radius: 0px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  float: top;
}

canvas {
  margin-left: auto;
  margin-right: auto;
}

#tagList {
  background-color: Black;
  opacity: 1;
  border: 3px solid #095ea3;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  float: top;
  padding: 5px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 25px;
  right: 0px;
  bottom: 0px;
  position: fixed;
  overflow: scroll;
  max-height: 200px;
}
#tagList:hover {
  cursor: default;
}
#tagListTag {
  color: #095ea3;
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin-right: 5px;
}

#goBoth,
#goMain,
#goCostal {
  background-color: Black;
  opacity: 1;
  border: 2px solid #095ea3;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  float: top;
  margin-top: 10px;
  margin-left: 20px;
  text-align: center;
}

/* Change the color of links on hover */

#goBoth:hover,
#goMain:hover,
#goCostal:hover {
  background-color: slategray;
  color: black;
}

#goBoth:focus,
#goMain:focus,
#goCostal:focus {
  background-color: slategray;
  color: black;
}

#tagListText,
#goBothText,
#goMainText,
#goCostalText {
  color: #095ea3;
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  padding-left: 7px;
  padding-right: 7px;
}
#goMain,
#goCostal {
  margin-top: 10px;
}
