html,
body {
    background-color: #113f67;
}
hr {
    border: 1px solid black;
    margin-bottom: 5px;
    margin-top: 5px;
}
.gm-style .gm-style-iw {
    color: #113f67;
}

#tagList {
    background-color: #fff;
    opacity: 1;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    float: top;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    overflow: scroll;
    max-height: 200px;
}

#goBoth,
#goMain,
#goCostal {
    background-color: #fff;
    opacity: 1;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    float: top;
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;
}
#tagListText,
#goBothText,
#goMainText,
#goCostalText {
    color: rgb(25, 25, 25);
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
    padding-left: 7px;
    padding-right: 7px;
}
#goMain,
#goCostal {
    margin-top: 10px;
}
