/*
    homepage.css; homepage.html stylesheet
    Contains sytlings and styling overrides unique to homepage.html
*/
main {
    display: grid;
    grid-auto-columns: minmax(100px, auto);
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 1.5fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "graphs map"
}

main .chartscrolldiv{
    flex: 1;
    grid-area: graphs;
    overflow-y: scroll;
    align-self: top;
    align-content: top;
    background-color: #376f9e;
}

main .map {
    grid-area: map;
}

html,
body {
    background-color: #fffeff;
}
hr {
    border: 1px solid black;
    margin-bottom: 5px;
    margin-top: 5px;
}
/* .gm-style .gm-style-iw {
  /* color: #376f9e; */
/* color: black; */
/* } */

.chartPanel{
    flex: 1;
    background-color: white;
    padding: 5px;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    border-radius: .5em;
}

.chartDiv {
    flex: 1;
    background-color: #fffeff;
    opacity: 1;
    /*border-top: 1px solid Black;
    border-bottom: 1px solid Black;
    border-left: 2px solid Black;
    border-right: 2px solid Black;
    border-radius: 0px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);*/
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: .5em;
    margin-right: .5em;
    border-radius: .5em;
}

canvas {
    margin-left: auto;
    margin-right: auto;
}

#tagList {
    background-color: #376f9e;
    opacity: 1;
    border: 3px solid #376f9e;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    float: top;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 25px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    overflow: scroll;
    max-height: 50vh;
}
#tagList:hover {
    cursor: default;
}
#tagListTag {
    color: #376f9e;
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-right: 5px;
}

#goBoth,
#goMain,
#goCoastal {
    background-color: #376f9e;
    opacity: 1;
    border: 2px solid #376f9e;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    float: top;
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;
}

/* Change the color of links on hover */

#goBoth:hover,
#goMain:hover,
#goCoastal:hover {
    background-color: #87b0d1;
    color: #fffeff;
}

#goBoth:focus,
#goMain:focus,
#goCoastal:focus {
    background-color: #155f9b;
    color: black;
}

#tagListText,
#goBothText,
#goMainText,
#goCoastalText {
    color: #fffeff;
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
    padding-left: 7px;
    padding-right: 7px;
}
#goMain,
#goCoastal {
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    main {
        display: grid;
        grid-auto-columns: minmax(100px, auto) !important;
        grid-auto-rows: minmax(100px, auto) !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(3, 1fr) !important;
        grid-template:
            "graph1"
            "graph2"
            "map";
    }
}
