.reportColumn {
  padding: 10px;
  background-clip: content-box;
  background-color: slategray;
}

.modal-content .row.leaf,
.modal-content .column.leaf {
  min-height: auto;
}

.reportCompletebtn {
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: center;
}

.reportNotes {
  text-align: left;
  border-width: 2px;
  border-color: gray;
  border-style: ridge;
  background-color: white;
  overflow: auto;
  min-height: 10vh;
  height: 60%;
  max-height: 40vh;
  width: 100%;
}

.reportNotes > :nth-child(even) {
  background-color: silver;
}

.notesInput {
  display: inline-flex;
  width: 100%;
}

.notesInput input {
  width: 90%;
}

.dropdown {
  width: 100%;
  display: inline-flex;
}

.dropdown select {
  width: 90%;
}

@media screen and (max-width: 600px) {
  .reportColumn {
    padding: 0px;
    background-clip: initial;
  }
}
